___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___
# Logistic Regression Project 

In this project we will be working with a fake advertising data set, indicating whether or not a particular internet user clicked on an Advertisement. We will try to create a model that will predict whether or not they will click on an ad based off the features of that user.

This data set contains the following features:

* 'Daily Time Spent on Site': consumer time on site in minutes
* 'Age': cutomer age in years
* 'Area Income': Avg. Income of geographical area of consumer
* 'Daily Internet Usage': Avg. minutes a day consumer is on the internet
* 'Ad Topic Line': Headline of the advertisement
* 'City': City of consumer
* 'Male': Whether or not consumer was male
* 'Country': Country of consumer
* 'Timestamp': Time at which consumer clicked on Ad or closed window
* 'Clicked on Ad': 0 or 1 indicated clicking on Ad

## Import Libraries

**Import a few libraries you think you'll need (Or just import them as you go along!)**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## Get the Data
**Read in the advertising.csv file and set it to a data frame called ad_data.**

In [2]:
train = pd.read_csv('advertising.csv')

**Check the head of ad_data**

In [3]:
train.head()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,2016-03-27 00:53:11,0
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,2016-04-04 01:39:02,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,2016-03-13 20:35:42,0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,1,Italy,2016-01-10 02:31:19,0
4,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,0,Iceland,2016-06-03 03:36:18,0

** Use info and describe() on ad_data**

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Daily Time Spent on Site  1000 non-null   float64
 1   Age                       1000 non-null   int64
 2   Area Income               1000 non-null   float64
 3   Daily Internet Usage      1000 non-null   float64
 4   Ad Topic Line             1000 non-null   object
 5   City                      1000 non-null   object
 6   Male                      1000 non-null   int64
 7   Country                   1000 non-null   object
 8   Timestamp                 1000 non-null   object
 9   Clicked on Ad             1000 non-null   int64
dtypes: float64(3), int64(3), object(4)
memory usage: 78.2+ KB

In [5]:
train.describe()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Male,Clicked on Ad
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000
mean,65.000200,36.009000,55000.000080,180.000100,0.481000,0.50000
std,15.853615,8.785562,13414.634022,43.902339,0.499889,0.50025
min,32.600000,19.000000,13996.500000,104.780000,0.000000,0.00000
25%,51.360000,29.000000,47031.802500,138.830000,0.000000,0.00000
50%,68.215000,35.000000,57012.300000,183.130000,0.000000,0.50000
75%,78.547500,42.000000,65470.635000,218.792500,1.000000,1.00000
max,91.430000,61.000000,79484.800000,269.960000,1.000000,1.00000

In [6]:
Ad Topic Line

SyntaxError: invalid syntax (<ipython-input-6-ab9286c1acb9>, line 1)

## Exploratory Data Analysis

Let's use seaborn to explore the data!

Try recreating the plots shown below!

** Create a histogram of the Age**

In [ ]:
train['Age'].hist(color='green',bins=40,figsize=(8,4))

**Create a jointplot showing Area Income versus Age.**

In [ ]:
sns.jointplot(x = "Age", y = "Area Income",
              kind = "scatter", data = train)

**Create a jointplot showing the kde distributions of Daily Time spent on site vs. Age.**

In [ ]:
sns.jointplot(x = "Age", y = "Daily Time Spent on Site",
              kind = "kde", data = train)

** Create a jointplot of 'Daily Time Spent on Site' vs. 'Daily Internet Usage'**

In [ ]:
sns.jointplot(x = "Daily Time Spent on Site", y = "Daily Internet Usage",
              kind = "scatter", data = train)

** Finally, create a pairplot with the hue defined by the 'Clicked on Ad' column feature.**

In [ ]:
sns.pairplot(train, hue="Clicked on Ad", diag_kind="hist")

In [ ]:
sns.heatmap(train.isnull(),yticklabels=False,cbar=False,cmap='viridis')

In [ ]:

#train.drop('Ad Topic Line',axis=1,inplace=True)
#train.drop('Timestamp',axis=1,inplace=True)
train.drop('Country',axis=1,inplace=True)
train.head()

In [ ]:
train.drop('City',axis=1,inplace=True)
train.head()

In [ ]:
#sex = pd.get_dummies(train['Sex'])
#embark = pd.get_dummies(train['Embarked'],drop_first=True)
#Timestamp
df_time = pd.to_datetime(train["Timestamp"])
#print(type(df_time[0]))
#tt=(df_time.dt.hour*60+df_time.dt.minute)*60 + df_time.dt.second
print(len(df_time))
train.dtypes
from datetime import datetime
seconds = df_time[0].timestamp()
#mins seconds/60
#print(seconds)
list_data=[]
for x in range(1000):
    secs=df_time[x].timestamp()
    mins = secs/3600
    list_data.append(mins)

print(list_data)
train.insert(2, "Time_Seconds", list_data, True)
print(train.dtypes)
#train.drop('Ad Topic Line',axis=1,inplace=True)
#train.drop('Timestamp',axis=1,inplace=True)
#train.drop('Country',axis=1,inplace=True)
train.head()

In [ ]:
train.drop('Timestamp',axis=1,inplace=True)

In [ ]:
train.head()

In [ ]:
train.info()

# Logistic Regression

Now it's time to do a train test split, and train our model!

You'll have the freedom here to choose columns that you want to train on!

** Split the data into training set and testing set using train_test_split**

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(train.drop('Clicked on Ad',axis=1), 
                                                    train['Clicked on Ad'], test_size=0.30, 
                                                    random_state=101)

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
print(X_train)
print(y_train)

In [ ]:
logmodel = LogisticRegression()
logmodel.fit(X_train,y_train)

** Train and fit a logistic regression model on the training set.**

In [ ]:
predictions = logmodel.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
print(classification_report(y_test,predictions))

## Predictions and Evaluations
** Now predict values for the testing data.**

In [ ]:
#y_train['Clicked on Ad'].value_counts()

In [ ]:
from sklearn.model_selection import StratifiedShuffleSplit
split = StratifiedShuffleSplit(n_splits=1, test_size=0.3, random_state=101)
for train_index, test_index in split.split(train, train['Clicked on Ad']):
    #print("TRAIN:", train_index, "TEST:", test_index)
    train_set = train.loc[train_index]
    test_set = train.loc[test_index]
    #print("TRAIN:", train_set, "TEST:", test_set)

In [ ]:
train_set['Clicked on Ad'].value_counts()

In [ ]:
test_set['Clicked on Ad'].value_counts()

In [ ]:
housing = train_set.drop("Clicked on Ad", axis=1)
housing_labels = train_set["Clicked on Ad"].copy()

In [ ]:
print(housing)

In [ ]:
print(housing_labels)

In [ ]:
logmodel = LogisticRegression()
logmodel.fit(housing,housing_labels)

In [ ]:
print(test_set)

In [ ]:
housing_test = test_set.drop("Clicked on Ad", axis=1)
housing_labels_test = test_set["Clicked on Ad"].copy()

In [ ]:
print(housing_test)

** Create a classification report for the model.**

In [ ]:
predictions = logmodel.predict(housing_test)

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
print(classification_report(housing_labels_test,predictions))

Cloned 5thgeneration orchestration              1
Synchronized multi-tasking ability              1
Customer-focused impactful success              1
Open-source optimizing parallelism              1
Organic logistical adapter                      1
                                               ..
Enhanced zero tolerance Graphic Interface       1
De-engineered tertiary secured line             1
Reverse-engineered well-modulated capability    1
Integrated coherent pricing structure           1
Virtual 5thgeneration emulation                 1
Name: Ad Topic Line, Length: 1000, dtype: int64

## Great Job!